<div class="container register-modal">
    <h1 class="modal-title w-100 text-center white-text font-weight-bold" id="myModalLabel">
        Edit Profile</h1>
    <form class="needs-validation" th:action="@{/edit-profile}" method="post"
          th:object="${user}">
        <hr class="hr"/>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="usernameInput">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="usernameInput"
                       placeholder="Username" required>
                <small style="color: red" th:each="error : ${#fields.errors('username')}"
                       th:text="${error}"></small>
            </div>
            <div class="col-md-4 mb-3">
                <label for="fullNameInput">Full name</label>
                <input type="text" th:field="*{fullName}" class="form-control"
                       id="fullNameInput"
                       placeholder="Full name" required>
                <small style="color: red" th:each="error : ${#fields.errors('fullName')}"
                       th:text="${error}"></small>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustomEmail">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="email" th:field="*{email}" class="form-control"
                           id="validationCustomEmail"
                           placeholder="Email" required>
                    <small style="color: red" th:each="error : ${#fields.errors('email')}"
                           th:text="${error}"></small>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" th:field="*{password}" placeholder="Password"
                       id="inputPassword"
                       class="form-control" aria-describedby="passwordHelpInline" required>
                <small style="color: red" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}"></small>
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputConfirmPassword">Confirm Password</label>
                <input type="password" th:field="*{confirmPassword}"
                       placeholder="Confirm Password"
                       id="inputConfirmPassword"
                       class="form-control" aria-describedby="confirmPasswordHelpInline"
                       required>
                <small style="color: red" th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}"></small>
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputConfirmPhoneNumber">Phone number</label>
                <input type="number" th:field="*{phoneNumber}" placeholder="Phone number"
                       id="inputConfirmPhoneNumber"
                       class="form-control" aria-describedby="confirmPasswordHelpInline"
                       required>
                <small style="color: red" th:each="error : ${#fields.errors('phoneNumber')}"
                       th:text="${error}"></small>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="inputCity">City</label>
                <select th:field="*{city.id}" class="form-control" id="inputCity"
                        placeholder="City"
                        required>
                    <th:block th:each="city : ${cityModels}">
                        <option th:value="${city.id}" th:text="${city.cityName}"></option>
                    </th:block>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="inputGender">Gender</label>
                <select class="custom-select " id="inputGender" th:field="*{gender}">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col-md-2 ">
                <label for="inputAge">Age</label>
                <input type="number" min="18" max="100" th:field="*{age}" placeholder="Age"
                       id="inputAge"
                       class="form-control" required>
                <small style="color: red" th:each="error : ${#fields.errors('age')}"
                       th:text="${error}"></small>
            </div>
            <div class="col-md-2">
                <label for="add-product-image">Profile Picture</label>
                <input type="file" class="btn" id="add-product-image" name="image">
            </div>
        </div>

        <th:block sec:authorize="hasAuthority('ROLE_LANDLORD')">
            <div class="tab-pane fade show active" id="pills-guest-landlord-form" role="tabpanel"
                 aria-labelledby="pills-home-tab">
                <div id="guest-landlord-container" class="form-row landlord-form container">
                    <div class="col-md-9 mb-3">
                        <label for="inputConditions">Conditions</label>
                        <textarea type="text" th:field="*{conditions}" class="form-control"
                                  id="inputConditions"
                                  placeholder="Conditions"
                                  required></textarea>
                        <small style="color: red" th:each="error : ${#fields.errors('conditions')}"
                               th:text="${error}"></small>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="inputRoommateGender">Roommate Gender</label>
                        <select class="custom-select" th:field="*{roommateGender}"
                                id="inputRoommateGender">
                            <option value="">Male & Female</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block sec:authorize="hasAuthority('ROLE_GUEST')">
            <div class="col-md-12 mb-3"><label for="inputPreferences">Preferences</label><textarea
                    th:field="*{preferences}" placeholder="Preferences" id="inputPreferences"
                    class="form-control" required></textarea>
                <small style="color: red" th:each="error : ${#fields.errors('preferences')}"
                       th:text="${error}"></small>
            </div>
        </th:block>
        <hr class="hr"/>
        <div class="center-button">
            <button class="btn btn-primary col-3 reg-button" type="submit">Edit</button>
        </div>
    </form>
</div>
