<span class="list-group-item navbar" style="padding-bottom: 67px"></span>
<a class="list-group-item list-group-item-action bg-light" id="v-pills-home-tab">
    <div align="center">
        <img src="/img/male-pic.jpeg" width="60px"
             style="border-radius: 60px 60px;">
    </div>
    <div align="center">
        <!--<th:block th:text="${principal.username}"></th:block>-->
    </div>
    <!--<div align="center">-->
        <!--<small>-->
            <!--<th:block th:text="${#principal.name}"></th:block>-->
        <!--</small>-->
    <!--</div>-->
</a>
<a class="list-group-item list-group-item-action bg-light" id="edit-profile-tab" href="/edit-profile">Edit Profile</a>
<th:block sec:authorize="!hasRole('ROLE_MODERATOR')">
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-users-tab" href="/users">Users</a>
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-accommodations-tab" href="/accommodations">Accommodations</a>
</th:block>
<th:block sec:authorize="hasRole('ROLE_GUEST') && !hasRole('ROLE_MODERATOR')">
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-landlord-approvals-tab"
       href="/guest/landlord-approvals">Landlord Approvals</a>
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-marked-accommodations-tab"
       href="/guest/marked-accommodations">Marked Accommodations</a>
</th:block>
<th:block sec:authorize="hasRole('ROLE_LANDLORD') && !hasRole('ROLE_MODERATOR')">
    <a class="list-group-item list-group-item-action " id="v-pills-my-home-tab" href="/landlord/my-home">My Home</a>
    <a class="list-group-item list-group-item-action " id="v-pills-approved-roommates-tab" href="/landlord/approved-roommates">Approved Roommates</a>
</th:block>
<th:block sec:authorize="hasRole('ROLE_MODERATOR')">
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-moderator-users-tab" href="/moderator/users">Users</a>
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-moderator-accommodations-tab" href="/moderator/accommodations">Accommodations</a>
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-cities-tab" href="/moderator/cities">Cities</a>
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-reports-tab" href="/moderator/reports">Reports</a>
    <a class="list-group-item list-group-item-action bg-light" id="v-pills-messages-tab" href="/moderator/messages">Messages</a>
</th:block>
<script>
    $(function(){
        var current = location.pathname;
        $('.side-nav a').each(function(){
            var $this = $(this);

            if($this.attr('href') === current){
                $this.addClass('active');
            }
        })
    })
</script>