<div class="album py-3">
    <div class="container">
        <div class="row justify-content-center">
            <th:block th:each="accommodation: ${accommodationModels}">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                             alt="Thumbnail [100%x225]" style="height: 200px; width: 100%; display: block;"
                             src="https://www.sony.bg/image/f6ed466855bcaeda7241430905d89848?fmt=png-alpha&wid=1440">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <p class="card-text" th:text="'Rent: ' + ${accommodation.rentPerMonth}"></p>
                                    <p class="card-text" th:text="'City: ' + ${accommodation.cityName}"></p>
                                </div>
                                <div class="col-md-6 mb-3 text-right">
                                    <p class="card-text"
                                       th:text="'Is a ' + ${accommodation.numberOfRooms} + ' roomed ' + ${accommodation.type}"></p>
                                    <p class="card-text" th:text="${accommodation.parking} + ' parking.'"></p>
                                </div>
                            </div>
                            <p class="card-text" th:text="'Address: ' + ${accommodation.address}"></p>
                            <hr/>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form th:action="@{/mark-accommodation/{id}(id=${accommodation.id})}" method="post">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Mark</button>
                                    </form>
                                    <form th:action="@{/report-accommodation/{id}(id=${accommodation.id}}" method="post">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Report</button>
                                    </form>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

