<th:block th:fragment>

    <nav class="navbar navbar-expand-lg " style="margin-inside: 20px">
        <div class="container">
            <a class="navbar-brand h4" th:href="@{/}">
                <span class="nav-title">Roomster</span>
            </a>

            <div class="nav justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <h5>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#login-modal" href="#login">Login</a>
                        </li>
                    </h5>
                    <li class="nav-item">
                        <h5><a class="nav-link" data-toggle="modal" data-target="#register-modal"
                               href="#register">Register</a></h5>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <th:block th:include="~{fragments/forms/login}"></th:block>
    <th:block th:include="~{fragments/forms/register}"></th:block>
</th:block>