<th:block th:fragment>

    <nav class="navbar navbar-expand-lg " style="margin-inside: 20px">
        <div class="container">
            <a class="navbar-brand h4" th:href="@{/}">
                <span class="nav-title">Roomster</span>
            </a>

            <div class="nav justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <h5>
                            <a href="/about-us" class="nav-link">Help</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5>
                            <a href="/logout" class="nav-link">Logout</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>