
.footer{
    background-color: #343a40;
    color: #e6e3e1;
}

.modal-title{
    color: #343a40;
    padding-bottom: 34px;
    padding-top: -20px;
}

div.modal-content.container{
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nav-link:hover{
    color: #b8b5b3;
}

.login-content{
    padding-left: 20%;
}

.center-button{
    display: flex;
    justify-content: center;
}

ul.nav-tabs{
    padding-left: 35%;
}

.reg-button{
    border-color: #383e44;
    background-color: #4d545a;
}

.register-modal{
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.nav-title{
    color: #E2DFDD;
    font-family: Lobster;
    font-size: 30px;
}

.navbar{
    background-color: #343a40;
}

.nav-link{
    color: #e2dfdd;
}

.form-dark .font-small {
    font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }

.divider-vertical {
    border-color: #4d545a;
    background-color: #afacaa;
    height: 40px;
    margin: 0 4px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.nav-link.active{
    background-color: #383e44;
}

.button-margin{
    margin-top: 29px;
    left: 19px;
}