<div class="container about-us-page">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-3 text-center">So who
                are we?</h3>
            <br/>
            <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">We are your helpers for
                finding a roommate or a new place to live in.</h1>
            <hr/>
            <div class="about-us-paragraph-header">
                Affordability
            </div>
            <div class="about-us-paragraph-content" style="font-size: large">
                You need somewhere to call home but you might not spend that much time there. Why pay thousands
                of dollars a month for somewhere to store your wardrobe, sleep and shower? As a roommate,
                you'll split the cost of the apartment with others, bringing down the amount you spend on rent
                and leaving you with more dollars in your pocket to spend on actually living. Not only will your
                monthly outgoings be lower, but you'll also have less to lay out in the first place in the shape
                of a security deposit, which makes it easier to secure a room than an apartment rental. Utilities
                are generally cheaper when you split the cost with roommates too.
            </div>
            <div class="about-us-paragraph-header text-right">
                Sharing is a normal lifestyle choice
            </div>
            <div class="about-us-paragraph-content text-right" style="font-size: large">
                It used to be the case that sharing was only something students and kids fresh out of
                college would contemplate. Nowadays the world has changed and professionals into their
                forties and above are happily renting together. Going into debt to buy or rent on your
                own isn't a sensible lifestyle choice; more and more people are choosing to share
                resources, from cars to jobs, so why not housing too?
            </div>
            <hr/>
        </div>
    </div>
</div>
<br/>
<section class="header1 cid-qyvcqB36eR" id="header1-0" data-rv-view="761">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
            </div>
        </div>
    </div>
</section>

<div class="container about-us-page">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <div class="about-us-paragraph-header">
                Sharing is more sociable
            </div>
            <div class="about-us-paragraph-content" style="font-size: large">
                If you're new to a city, or don't have a ready-made network of friends to socialize
                with, living with roommates gives you an instant connection, plugging you into the
                life of the city. Not everybody socializes
                with their roommates but many do and carry on being friends for years afterwards.
            </div>
            <br/>
            <div class="about-us-paragraph-content" style="font-size: large">
                Even if you've already got a social life you might not want to come home to a silent
                and empty apartment. If you've got roommates you've got people to share problems, news,
                recipes, cool hangouts and the latest movies with. And, if you want some space, you still
                have your own room to retreat to.
            </div>
            <hr/>
        </div>
    </div>
</div>


