<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body class="bg-body justify-content-center">
<main>
    <div class="d-flex" id="wrapper">
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <th:block th:include="~{fragments/navbars/side-navbar}"></th:block>
            </div>
        </div>
        <div id="page-content-wrapper" style="background-color: rgba(162,207,241,0.25)">
            <th:block th:include="~{fragments/navbars/top-navbar}"></th:block>
            <div class="padding">
                <th:block th:include="${view}"></th:block>
            </div>
        </div>
    </div>
</main>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>