<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body class="bg-body justify-content-center">
<header>

    <th:block th:include="~{fragments/navbar}"></th:block>

</header>
<main>
    <div class="jumbotron">
        <h1>Welcome to roomster</h1>
        <hr/>
        <p>vkw tgbk woktrhm twoktr okmb pket krt etkroer
            jtr bjhe vk jhtrg kwhr jksr vjw.vkw tgbk woktrhm twoktr okmb pket krt etkroer jtr bjhe
            vk jhtrg kwhr jksr vjw.vkw tgbk woktrhm twoktr okmb pket krt etkroer jtr bjhe vk jhtrg
            kwhr jksr vjw.vkw tgbk woktrhm twoktr okmb pket krt etkroer jtr bjhe vk jhtrg kwhr jksr vjw
            .vkw tgbk woktrhm twoktr okmb pket krt etkroer jtr bjhe vk jhtrg kwhr jksr vjw
            .vkw tgbk woktrhm twoktr okmb pket krt etkroer jtr bjhe vk jhtrg kwhr jksr vjw. vkw tgbk
            woktrhm twoktr okmb pket krt etkroer jtr bjhe vk jhtrg kwhr jksr vjw.
        </p>
    </div>
</main>
</div>
<footer>

    <th:block th:include="~{fragments/footer}"></th:block>

</footer>
</body>
</html>