<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body class="bg-body justify-content-center">
<header>

    <th:block th:include="~{fragments/navbars/top-navbar}"></th:block>

</header>
<main>
    <div class="jumbotron">
        <h1 class="mbr-section-title font-weight-light pb-3 mbr-fonts-style display-4">Welcome to Roomster</h1>
        <hr/>
        <p style="font-size: larger">Find great places & people to share a home with.Apartments in major cities are expensive and, for most people, renting on your own is going to be unaffordable unless you're earning megabucks. For many, living with roommates is the best alternative to living somewhere out in the suburbs. After all, living in the city is all about living in the city, isn't it?</p>
    </div>
    <th:block th:include="~{fragments/product}"></th:block>
</main>
</div>
<footer>

    <th:block th:include="~{fragments/footer}"></th:block>

</footer>
</body>
</html>