<div class="modal fade " id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container register-modal" style="background-color: #d4d1cf">
            <h1 class="modal-title w-100 text-center white-text font-weight-bold" style="color: #343a40"
                id="myModalLabel">
                Login</h1>
            <form th:action="@{/login}" method="post">
                <hr class="hr"/>
                <div class="login-content">
                    <div class="form-group row">
                        <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                </div>
                <hr class="hr"/>
                <div class="center-button">
                    <button class="btn btn-primary col-3 reg-button" type="submit">Login</button>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <small class="d-flex justify-content-end">I don't have an account
                        <a href="#" class="green-text ml-1 font-weight-bold" data-dismiss="modal"
                           data-target="#register-modal" data-toggle="modal">Register</a></small>
                </div>
            </div>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>
</div>
