<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container padding" style="background-color: #d4d1cf">
            <h1 class="modal-title w-100 text-center white-text font-weight-bold" style="color: #343a40"
                id="myModalLabel">
                Login</h1>
            <form th:action="@{/login}" method="post">
                <hr class="hr"/>
                <div class="login-content">
                    <div class="form-group col-md-11 mb-3">
                        <label for="inputUsername" class="col-form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="inputUsername"
                               placeholder="Username" required>
                    </div>
                    <div class="form-group col-md-11 mb-3">
                        <label for="inputPassword" class="col-form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword"
                               placeholder="Password" required>
                    </div>
                </div>
                <hr class="hr"/>
                <div class="center-button">
                    <button class="btn btn-primary col-3 reg-button" type="submit">Login</button>
                </div>
                <br/>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <small class="d-flex justify-content-end">I don't have an account
                        <a href="#" class="green-text ml-1 font-weight-bold" data-dismiss="modal"
                           data-target="#register-modal" data-toggle="modal">Register</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var current = location.pathname;

        if (current === "/login") {
            $("#login-modal").modal('show');

        }
    })
</script>
