<div class="modal fade register-modal" id="register-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true" xmlns:th="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container register-modal" style="background-color: #e6e3e1">
            <h1 class="modal-title w-100 text-center white-text font-weight-bold" id="myModalLabel">
                Register</h1>

            <form class="needs-validation" th:action="@{/register}" method="post"
                  th:object="${userRegisterBindingModel}">
                <hr class="hr"/>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="usernameInput">Username</label>
                        <input type="text" th:field="*{username}"
                               th:styleappend="${#fields.hasErrors('username')} ? border-color: red"
                               class="form-control" id="usernameInput"
                               placeholder="Username">
                        <small style="color: red" th:each="error : ${#fields.errors('username')}"
                               th:text="${error}"></small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="firstNameInput">First name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                               placeholder="Full name">
                        <small style="color: red" th:each="error : ${#fields.errors('firstName')}"
                               th:text="${error}"></small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustomEmail">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input type="email" th:field="*{email}" class="form-control" id="validationCustomEmail"
                                   placeholder="Email">
                        </div>
                        <small style="color: red" th:each="error : ${#fields.errors('email')}"
                               th:text="${error}"></small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="inputRegisterPassword">Password</label>
                        <input type="password" th:field="*{password}" placeholder="Password" id="inputRegisterPassword"
                               class="form-control" aria-describedby="passwordHelpInline">
                        <small style="color: red" th:each="error : ${#fields.errors('password')}"
                               th:text="${error}"></small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password"
                               id="inputConfirmPassword"
                               class="form-control" aria-describedby="confirmPasswordHelpInline">
                        <small style="color: red" th:each="error : ${#fields.errors('confirmPassword')}"
                               th:text="${error}"></small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputConfirmPhoneNumber">Phone number</label>
                        <input type="number" th:field="*{phoneNumber}" placeholder="Phone number"
                               id="inputConfirmPhoneNumber"
                               class="form-control" aria-describedby="confirmPasswordHelpInline">
                        <small style="color: red" th:each="error : ${#fields.errors('phoneNumber')}"
                               th:text="${error}"></small>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="inputCity">City</label>
                        <select th:field="*{cityId}" class="form-control" id="inputCity" placeholder="City">
                            <th:block th:each="city : ${cityModels}">
                                <option th:value="${city.id}" th:text="${city.cityName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="inputGender">Gender</label>
                        <select class="custom-select " id="inputGender" th:field="*{gender}">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-2 ">
                        <label for="inputAge">Age</label>
                        <input type="number" th:field="*{age}" placeholder="Age"
                               id="inputAge"
                               class="form-control">
                        <small style="color: red" th:each="error : ${#fields.errors('age')}"
                               th:text="${error}"></small>
                    </div>
                    <div class="col-md-4 mb-3 button-margin">
                        <button type="button" class="reg-button btn-primary btn my-2 mx-1 " id="guest-button">Guest</button>

                        <button type="button" class="reg-button btn-primary btn my-2 mx-1 active" id="landlord-button">Landlord</button>
                    </div>
                </div>

                <div class="tab-pane fade show active" id="pills-guest-landlord-form" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    <div id="guest-landlord-container" class="form-row landlord-form container">
                        <div class="col-md-9 mb-3">
                            <label for="inputConditions">Conditions</label>
                            <textarea type="text" th:field="*{conditions}" class="form-control" id="inputConditions"
                                      placeholder="Conditions"
                            ></textarea>
                            <small style="color: red" th:each="error : ${#fields.errors('conditions')}"
                                   th:text="${error}"></small>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="inputRoommateGender">Roommate Gender</label>
                            <select class="custom-select" th:field="*{roommateGender}" id="inputRoommateGender">
                                <option value="">Male & Female</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr class="hr"/>
                <div class="center-button">
                    <button class="btn btn-primary col-3 reg-button" type="submit">Register</button>
                </div>
                <div class="col-md-12">
                    <small class="d-flex justify-content-end">Have an account?
                        <a href="#" class="green-text ml-1 font-weight-bold"
                           data-target="#login-modal" data-toggle="modal" data-dismiss="modal">Login</a>
                    </small>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#guest-button').click(function () {

            var container = $('#guest-landlord-container');

            this.classList.add('active')
            $('#landlord-button').removeClass('active')

            container.empty();
            container.append("<div class=\"col-md-12 mb-3\"><label for=\"inputPreferences\">Preferences</label><textarea name=\"preferences\" placeholder=\"Preferences\" id=\"inputPreferences\" class=\"form-control\"></textarea><small style=\"color: red\" th:each=\"error : ${#fields.errors('preferences')}\" th:text=\"${error}\"></small></div>")
        })
    })

    $(document).ready(function () {
        $('#landlord-button').click(function () {

            var container = $('#guest-landlord-container');

            this.classList.add('active')
            $('#guest-button').removeClass('active')

            container.empty();
            container.append("<div class=\"col-md-9 mb-3\">\n" +
                "                            <label for=\"inputConditions\">Conditions</label>\n" +
                "                            <textarea type=\"text\" name=\"conditions\" class=\"form-control\" id=\"inputConditions\"\n" +
                "                                      placeholder=\"Conditions\"\n" +
                "                                     ></textarea>\n" +
                "                            <small style=\"color: red\" th:each=\"error : ${#fields.errors('conditions')}\"\n" +
                "                            th:text=\"${error}\"></small>\n" +
                "                        </div>"
            );


            container.append("<div class=\"col-md-3 mb-3\">\n" +
                "                            <label for=\"inputRoommateGender\">Roommate Gender</label>\n" +
                "                            <select class=\"custom-select \" name=\"roommateGender\" id=\"inputRoommateGender\">\n" +
                "                                <option selected>Male & Female</option>\n" +
                "                                <option value=\"Male\">Male</option>\n" +
                "                                <option value=\"Female\">Female</option>\n" +
                "                            </select>\n" +
                "                        </div>")

        });
    })
    ;

    $(function () {
        var current = location.pathname;

        if (current === "/register") {
            $("#register-modal").modal('show');

        }
    })
</script>
