<h1 class="text-center text-dark">Add City</h1>
<hr class="hr-2 bg-dark w-25">
<form id="add-category-form" class="form w-25 mx-auto" th:action="@{/moderator/add-city}" method="post" th:object="${cityModel}">
    <div class="form-group">
        <label for="add-category-name" class="font-weight-bold">Name</label>
        <input type="text" class="form-control text-center" id="add-category-name" name="cityName" th:value="*{cityName}">
        <th:block th:if="${#fields.hasErrors('cityName')}">
            <small style="color: red" th:errors="*{cityName}" class="error"></small>
        </th:block>
    </div>
    <hr class="hr-2 bg-dark">
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">Add</button>
    </div>
</form>